/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.main-menu ul li {
	margin-left: 20px;
}
.features-area {
	margin-top: 0;
	padding-top: 100px;
}
.slider-inner h2 {
	font-size: 44px;
}




}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-area {
	padding: 20px 40px;
	padding-bottom: 10px;
}
.features-area {
	margin-top: 0;
	padding-top: 100px;
}
.slider-inner h2 {
	font-size: 35px;
}
.slider-inner p {
	margin-bottom: 25px;
}
.single-features {
	border-bottom: 1px solid #ddd;
}
.theme-bg .col-xl-4:last-child .single-features {
	border-bottom: 0;
}
.about-img {
	margin-top: 40px;
}
.subscribe-form input {
	width: 23%;
}



}

 
/* Extra small Device. */
@media (max-width: 767px) {
.header-area {
	padding: 20px 40px;
	padding-bottom: 10px;
}
.features-area {
	margin-top: 0;
	padding-top: 100px;
}
.slider-inner h2 {
	font-size: 30px;
}
.slider-inner p {
	margin-bottom: 25px;
}
.about-img {
	margin-top: 40px;
}
.single-features {
	border-bottom: 1px solid #ddd;
}
.theme-bg .col-xl-4:last-child .single-features {
	border-bottom: 0;
}
.subscribe-form input {
	width: 100%;
	margin-bottom: 15px;
}
.pricing-item {
	width: 100%;
}
.testimonial-item {
	padding: 60px 20px;
}
.copyright-text {
	text-align: center;
	margin-bottom: 10px;
}
 
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}



/* retina query */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:991.98px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991.98px),only screen and (min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min-resolution:192dpi) and (max-width:991.98px),only screen and (min-resolution:2dppx) and (max-width:991.98px){

.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

}


@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){
.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

/*extra small Sevice.*/

@media only screen and (min-width: 476px) and (max-width: 576px) {
	.subscribe-form button {
    margin-right: 10px;
    
}  

